<!doctype html>
<html lang="en">
<head th:replace="~{common/header}">
    <meta charset="UTF-8">
    <title>用户管理</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>  
	<script src="../../static/js/jquery-3.3.1.min.js"></script>
	<script src="../../static/js/popper.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row" style="height: 20px;"></div>
	<div class="row" th:replace="~{common/nav::nav('user')}">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
    		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A9C8E7;">
    			<div class="navbar-nav">
    				<a class="nav-item nav-link active" href="#">用户管理</a>
    			</div>
    		</nav>
		</div>
	</div>
	<div class="row" style="height: 10px;"></div>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
		  <form id="dataForm" method="post">
    		<table class="table" style="border: 1px solid #cccfc9;">
    			<thead>
    				<tr class="table-secondary">
    					<th scope="col" width="10%">选择</th>
    					<th scope="col" width="20%">用户名</th>
    					<th scope="col" width="10%">密码</th>
    					<th scope="col" width="10%">用户类别</th>
    					<th scope="col" width="10%">创建时间</th>
    					<th scope="col" width="10%">修改时间</th>
    					<th scope="col" width="20%">注释</th>
    					<th scope="col" width="10%">操作</th>
    				</tr>
    			</thead>
    			<tbody th:remove="all-but-first">
    				<tr th:each="data : ${datas.content}" th:object="${data}">
    					<td scope="row"><input type="checkbox" name="ids" th:value="*{id}"/></td>
    					<td><a href="view.html" th:href="@{/user/view/} + *{id}" target="_blank" th:text="*{name}">ghl</a></td>
    					<td th:text="*{password}">1234</td>
    					<td th:text="*{level}">zhuanjia</td>
    					<td th:text="*{createtime}">20181230</td>
    					<td th:text="*{modifytime}">20181230</td>
    					<td th:text="*{notes}">bye</td>
    					<td><a th:href="@{/user/edit/} + *{id}">修改</a></td>
    				</tr>
    			</tbody>
    		</table>
    	   </form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-1">
		  <button type="button" class="btn btn-primary" onClick="document.location.href='content.html'" 
		      th:onclick="|document.location.href='@{/user/add}'|">添加</button></div>
		<div class="col-lg-1"><button type="button" class="btn btn-primary" id="delButton">删除</button></div>
		<script>
            $("#delButton").click(function() {
                $("#dataForm").attr("action", "[[ @{/user/delete/} ]][[ ${datas.number} ]]");
                $("#dataForm").submit();
            });
		</script>
        <nav class="col-lg-1" th:replace="~{common/page::page('/user/list')}">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
	</div>
	<div class="row" style="height: 20px;"></div>
	<div class="row">
		<div class="col-lg-12" style="text-align: center;">
			Copyright © 2017-2018 Users rights reserved.
		</div>
	</div>
	<div class="row" style="height: 20px;"></div>
</div>




</body>
</html>
